<div class="container">
  <mat-card>
    <mat-list *ngFor="let contact of contacts">
      <mat-list-item>
        <i class="material-icons">
          face
        </i>
        <h3 matLine>{{ contact.firstName }}</h3>
        <p matLine>
          <span> {{ contact.lastName }} </span>
          <span class="demo-2"> -- {{ contact.phone }} </span>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>
  <br>
  <!-- <button mat-flat-button color="primary">Add</button> -->
  <div class="addContact">
     <button mat-fab color="primary" (click)="openDialog()">Add</button>
  </div>
 

</div>
